/*
!/dev/
/dev/*
!/dev/home/
/dev/home/*
!/dev/home/agent/
/dev/home/agent/*
!/dev/home/agent/.claude/
/dev/home/agent/.claude/*
!/dev/home/agent/.claude/settings.json

!/dev/home/agent/.config/
/dev/home/agent/.config/*
!/dev/home/agent/.config/tmux
/dev/home/agent/.config/tmux/*
!/dev/home/agent/.config/tmux/tmux.conf

!/dev/home/agent/.inputrc
!/dev/home/agent/.zshrc
!/dev/home/agent/.zshenv
!.gitignore
